/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-color: #0077cc;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    max-width: 600px;
    width: 100%;
}

.admin-container:hover {
    transform: translateY(-10px); 
}

.admin-menu ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.admin-menu ul li {
    display: inline;
    margin-right: 20px;
}

.admin-menu ul li a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.admin-menu ul li a:hover {
    color: #005c99;
}

.admin-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-box p {
    font-size: 16px;
}
