<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/styles2.css"> 
</head>
<body>
    <header>
        <div class="count-particles"> <span class="js-count-particles"></span></div>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
        <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
            <div class="menu">
                <ul>
                    <li><a href="/wallet">Wallet</a></li> 
                    <li><a href="/Perfil" class="perfil-option">Perfil</a></li>
                    <li><a href="component.html" class="perfil-option" id="admin">Estadisticas</a></li>
                </ul>
            </div>
            <div id="particles-js"></div>
        </header>
        <div class= "background_imagen"> 
            <div class="imagen1">
                <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/TeusShip.png?v=1713569842920" alt="lol" width="300" />
            </div>
            <div class="imagen2">
                <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Lucky.png?v=1713569839803" alt="lol" width="300" />
            </div>
            <div class="imagen3">
                <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Music.png?v=1713569841366" alt="lol" width="300" />
            </div>
        <article class="article3">
          <a href="https://akemitl04.itch.io/teus-arcade" target="_blank">
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Maquina3.png?v=1713569841003" alt="lol" width="300"/>
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Play3.png?v=1713569842538" alt="lol" width="300" />
          </a>
        </article>
        <article class="article1">
          <a href="https://akemitl04.itch.io/teus-arcade" target="_blank">
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Maquina1.png?v=1713569840238" alt="lol" width="300"/>
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Play1.png?v=1713569841701" alt="lol" width="300" />
          </a>
        </article>
        <article class="article2">
          <a href="https://akemitl04.itch.io/teus-arcade" target="_blank">
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Maquina2.png?v=1713569840626" alt="lol" width="300"/>
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/Play2.png?v=1713569842169" alt="lol" width="300" />
          </a>
        </article>
    <script src="/particlesJS.js"></script>
</body>
</html>
