<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/styles4.css"> <!-- Estilos para la página de Perfil -->
</head>
<body>
    <div class="background">
        <div class="wave"></div>
        <div class="profile-box">
            <div class="profile-picture">
                <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/teus.png?v=1712986386404" alt="Perfil">
            </div>
            <div class="profile-details">
                <h2>Nombre de Usuario: {{Nombre}}</h2> 
                <p>Correo electrónico: {{Email}}</p>
                <p>Saldo: {{Saldo}}</p>
                <p>Vidas: {{Vidas}}</p>
                <p>Cupones: {{Cupones}}</p>
                <!-- Otros datos del perfil -->
            </div>
            <a href="/pagina_principal" class="btn-back">Regresar</a> <!-- Enlace para regresar -->
            <a href="/Test" class="btn-logout">Cerrar Sesión</a> <!-- Enlace para cerrar sesión -->
        </div>
    </div>
</body>
</html>
