<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="background">
        <div class="login-box">
            <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/check-azul.png?v=1713567960443" alt="Logo" width="300">
            <h2>Registro exitoso</h2>
            <p>¡Gracias por registrarte!, el proceso se ha realizado correctamente.</p>
            <p>Inicie sesión para entrar en su cuenta</p>
            <div class="options">
                <a href="/Test" class="active">Iniciar sesión</a>
            </div>
        </div>
    </div>
</body>
</html>
