<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="styles3.css"> <!-- Estilos para la página de Wallet -->
</head>
<body>
    <div class="navbar">
        <img src="https://cdn.glitch.global/eb1848c4-7902-4754-863f-353b190f8da4/LogoSorteosTec.webp?v=1712986384189" alt="Logo">
        <a href="/Test">Cerrar sesion</a>
        <a href="/pagina_principal">Ir a Juegos</a>
    </div>
    <div class="wallet-box">
        <h2 class="wallet-title">Wallet</h2>
        <div class="balance">
            <p>Saldo:</p>
            <span>{{Saldo}}</span> <!-- Aquí puedes poner un monto aleatorio o dinámico -->
      </div>
        <div class="add-balance">
          <a href="/Pago" class="btn-back">Agregar Saldo</a>
          
        </div>
    </div>
</body>
</html>
